language: java

jdk:
  - openjdk11

env:
  - NODE_VERSION="10"

before_install:
  - nvm install $NODE_VERSION

addons:
  sonarcloud:
    organization: "wcrasta"
    token:
      secure: "R7ov+iLX2dFSQsXj4mOnFnF7fKvnZBtiiSsk1Hh/hbpJBuMTO1iUidrDAfKdSVA7s+2j1cXGWU8OPbtVHTC/aoQXhHhzwFv5rciqTJSFHQx3RS6yxN8P1eSGIjYkKz5mSiwT2se+K4TBs5y6IIg5Z27a829AeqXbJk1J2uBZnwoFDgzphSQQTTUwoKaVLPBOp/B5KuyKvpDkIHF7jJ2hxhHR5YWy0TJcWS2n9tJcKfNIgibAvOWcvLfP4U+ek/1suLRu0no/kMmmJsiSWlWOSE+LwAcLyK5XidM4nshUjpVVKKIi4vJbxAjwTG6WYh/ZZvTWjmhdMxIctMjRz7c+i97/p4QD3qC7mxxhoGjbfnHaeUErKkryoNUdvEg2kbVwO+iLUg1OVs7S3mFW7BwD6ILlyDwDvIoaGMDmtGlyz6Vl5sYBkI60fADVgwTjCgFFq5o9+xsvCXFGIpRcJB1lSZOy7ayQlkTgzACXBHt/P6ee1wfrtkh200IUeXAuG53b7ZQGvhAovX7JunfM99x2IcS9l1gLQawqPKCTDhMX+OwbJcpKcd6Cmly4c8MIQXKHq7OqRoCpEvlHsi6MXJOtcZxbvKgaRof6JnoCP9uxnA4l8EN4XFUEPbN9CG1S25+k0VHJPLlYn/0392l8e9pu2ajfv91f/JTPC42dW3JvZRw="
script:
  - mvn clean verify sonar:sonar -Pcoverage

before_deploy:
  - zip -r yahoo-fantasy-basketball *
  - mkdir -p dpl_cd_upload
  - mv yahoo-fantasy-basketball.zip dpl_cd_upload/yahoo-fantasy-basketball.zip

deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    local_dir: dpl_cd_upload
    skip_cleanup: true
    on: &2
      repo: wcrasta/yahoo-fantasy-basketball
    bucket: yahoo-fantasy
    region: us-east-2
  - provider: codedeploy
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    bucket: yahoo-fantasy
    key: yahoo-fantasy-basketball.zip
    bundle_type: zip
    application: yahoo-fantasy-basketball
    region: us-east-2
    deployment_group: travisci
    on: *2